# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
out/
dist/
build/
.turbo/
.expo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# supabase
supabase/.branches/
supabase/.temp/

# testing
coverage/

# misc
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
.vscode/*
!.vscode/extensions.json
